.home .container {
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home .container .parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.home .container .parent .child_1 h1{
    font-size: 52px;
    padding: 12px;
}

.home .container .parent .child_1 p{
    padding: 12px;
    font-size: 18px;
    width: 80%;
}

.home .container .parent .child_1 button{
    margin: 12px;
    background-color: #F50E30;
    padding: 8px 32px;
    border: 0;
    font-size: 24px;
    font-weight: 300;
    outline: 0;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}

.home .container .parent .child_2 img{
    width: 90%;
}